<div class="content" role="main">

    <div class="text">
        <h1>Create your own movie collection</h1>
    </div>
    <div class="text">
        <h2><a routerLink="/search">Find your favourites movies right now!</a></h2>
    </div>

</div>
