$primary-text-color: #eee;
$secondary-text-color: #333;
$link-text-shadow: 5px 5px 5px goldenrod;
$header-width-full: 265px;
$primary-bg-color: #f8f8f8;
$transition: all 0.4s ease-in-out; 
$border: 1px solid goldenrod;
$borderGrey: 1px solid rgba(0, 0, 0, 0.4);

%display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
