@use "variables";
@import url(https://fonts.googleapis.com/css?family=Roboto);


body, html {
	min-height: 100%;
  background: url("../img/gold-black.svg") no-repeat fixed;
  background-size: cover;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: variables.$primary-text-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-shadow: variables.$link-text-shadow;
}

// HEADER
header {
  @extend %display-flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  z-index: 99;
	max-width: variables.$header-width-full;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(1, 1, 1, 0.9) 45%, rgba(218,165,32, 0.3));
  box-shadow: 0px 5px 20px 5px goldenrod;

  img {
    margin: 10px 30px;
    max-width: 200px;
    width: 100%;
  }

  .logo-nav-container {
    @extend %display-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav {
    width: 100%;
    padding: 0;
    margin: 30px 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;

    ul {
      li {
        list-style: none;
        border-bottom: variables.$border;
        padding: 10px 15px;
      }
      
      li:hover {
        cursor: pointer;
        text-shadow: variables.$link-text-shadow;
        
      }
    }
  }

  #mob-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: fixed;
    height: auto;
    max-width: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(1, 1, 1, 0.9) 45%, rgba(218,165,32, 0.3));
    box-shadow: 0px 5px 20px 5px goldenrod;

    .nav {
      font-size: 14px;
      font-weight: 500;
      margin-top: 15px;
    }
    #nav {
      display: none;
    }
    #mob-nav {
      display: block;
    }
  }
}

// MOBILE NAVIGATION
#nav-button {
  display: none;
  position: relative;
  margin: 10px 30px;
  z-index: 5;
  cursor: pointer;
  user-select: none;

  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: variables.$primary-bg-color;
      position: relative;
      display: block;
      transition: variables.$transition;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: variables.$primary-bg-color;
          position: absolute;
          content: "";
          transition: variables.$transition;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: goldenrod;
    }
}

@media screen and (max-width: 767px) {
  #nav-button {
    display: block;
  }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #nav {
  display: flex;
}

input[type=checkbox]:checked ~ #nav-button {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

// MAIN CONTENT
.content {
  @extend %display-flex;
  margin-top: 30px;
  margin-left: variables.$header-width-full;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .content {
    margin-top: 115px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
}

// TEXTS
.text {
  text-align: center;
  margin: 30px 5px;
}

h1 {
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 10px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 400;
}

// SEARCH BOX
::placeholder {
  color: variables.$primary-bg-color;
  opacity: 0.7;
}

.search-container {
  @extend %display-flex;
  align-items: flex-start;
  width: 100%;
  margin: 30px 5px;

  input {
    margin-left: 35px;
    height: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid variables.$primary-text-color;
    background-color: transparent;
    color: variables.$primary-text-color;
    padding: 10px 20px;
    font-weight: 400;
    min-width: 40%;
    transition: variables.$transition;
    letter-spacing: 0.1em;
  }

  input:focus {
    min-width: 85%;
    cursor: text;
  }

  input:hover {
    border-bottom: 2px solid goldenrod;
  }

  .icon {
    color: variables.$secondary-text-color;
    font-size: 25px;
    margin-left: -45px;
  }

  .icon:hover {
    color: goldenrod;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .search-container {
    align-items: center;
  
    input {
      margin: auto;
      font-size: 18px;
      min-width: 80%;
      padding: 5px 15px;
    }
  }
}

// MOVIES CONTAINER
.movie-card-container {
  @extend %display-flex;
  flex-direction: row;
  max-width: 85%;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
  transition: variables.$transition;
  color: variables.$secondary-text-color;

  .movie-card {
    @extend %display-flex;
    border-radius: 4px;
    border: 1px solid variables.$primary-text-color;
    background-color: variables.$primary-bg-color;
    height: 400px;
    width: 350px;
    transition: variables.$transition;
    margin: 0 8px 16px;
    padding: 16px;
    line-height: 24px;
    cursor: pointer;

    img {
      max-width: 100%;
      max-height: 270px;
      width: auto;
      height: auto;
    }
  }

  .movie-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 20px 5px goldenrod;
    z-index: 0;
  }

}

@media screen and (max-width: 767px) {
  .movie-card-container {
    flex-direction: column;

    .movie-card {
      width: 85%;
      height: 350px;
    }
  }
}

// MOVIE DETAILS
.movie-details-container {
  @extend %display-flex;
  max-width: 85%;
  width: 100%;
  padding: 30px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: variables.$secondary-text-color;
  border-radius: 4px;
  border: 1px solid variables.$primary-text-color;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.4);

  .plot {
    text-align: justify;
    width: 100%;
    padding: 0 15px;
  }

  .poster-info {
    @extend %display-flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    border-top: variables.$borderGrey;
    border-bottom: variables.$borderGrey;
    padding: 15px 0;

    img {
      max-height: 300px;
    }

    div {
      @extend %display-flex;
      flex: 50%;
      padding: 0 10px;
      width: 100%;
    }

    div:last-child {
      justify-content: flex-start;
      align-items: flex-start;
    }

    span {
      font-style: italic;
      padding: 10px 0;

      span {
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .movie-details-container {
    .poster-info {
      flex-direction: column;
    }
  }
}
