<div class="content" role="main">
    <div class="text">
        <a routerLink="/search"><< Back to Search</a>
    </div>
    <div class="movie-details-container" *ngIf="(movie$ | async) as movie">
        <h1>{{ movie.title }}</h1>
        <div class="poster-info">
            <div>
                <img [src]="movie.poster != 'N/A' ? movie.poster : '../../../assets/img/film-strip.png'">
            </div>
            <div>
                <span>Genre: <span [innerHtml]="movie.genre != 'N/A' ? movie.genre : '-'"></span></span>
                <span>Year: <span [innerHtml]="movie.year != 'N/A' ? movie.year : '-'"></span></span>
                <span>Type: <span [innerHtml]="movie.type != 'N/A' ? movie.type : '-'"></span></span>
                <span>IMDB rating: <span [innerHtml]="movie.imdbRating != 'N/A' ? movie.imdbRating : '-'"></span></span>
                <span>Runtime: <span [innerHtml]="movie.runtime != 'N/A' ? movie.runtime : '-'"></span></span>
            </div>
        </div>
        <div class="plot text" [innerHtml]="movie.plot != 'N/A' ? movie.plot : 'No Description'"></div>
    </div>
</div>
