<div class="content" role="main">

  <div class="search-container">
    <input type="text" name="search" id="search-by-title" placeholder="Search movie by title"
    [ngModel]="titleInput$ | async" (ngModelChange)="onTitleInputChange($event)" value="{{titleInput$ | async}}"/>
  </div>

  <div class="text" *ngIf="isZero(totalResults$| async)">Total results: {{ totalResults$ | async }}</div>

  <div class="movie-card-container">
    <ng-container *ngIf="(movies$| async)?.length > 0; else checkErrorText()">
      <a class="movie-card" *ngFor="let movie of (movies$ | async)" routerLink="/movie-details/{{ movie.imdbID }}">
        <img [src]="movie.poster != 'N/A' ? movie.poster : '../../../assets/img/film-strip.png'">
        <span><h3>{{ movie.title }}</h3></span>
        <span>{{ movie.year }} , {{ movie.type }}</span>
      </a>
    </ng-container>
  </div>

  <ng-container *ngIf="showNext && (movies$| async)?.length > 0">
    <div>
      <h3><a (click)="showNextPage()">Show more</a></h3>
    </div>
  </ng-container>

  <div class="text" *ngIf="movieNotFound">
    <h2>Movie is not found. Please specify!</h2>
  </div>
  <div class="text" *ngIf="tooManyResults">
    <h2>Too many results. Please specify!</h2>
  </div>
  <div class="text" *ngIf="smthIsWrong">
    <h2>Oops, something is wrong. Try again!</h2>
  </div>

</div>
