<header role="banner">

    <div class="logo-nav-container">
        <a routerLink="./"><img alt="myMoviesLogo" src="../../../assets/img/logo.png"/></a>
        <input type="checkbox" id="nav-input"/>
        <label for="nav-input" id="nav-button" (click)="showHideNav()"><span></span></label>
    </div>

    <div id="nav" class="nav">
        <ul routerLinkActive="active">
            <li><a routerLink="/">My collection</a></li>
            <li><a routerLink="/search">Find movie</a></li>
            <li><a routerLink="/error">Another link</a></li>
        </ul>
    </div>

    <div id="mob-nav" class="nav" *ngIf="showMobNav">
        <ul>
            <li><a routerLink="/">My collection</a></li>
            <li><a routerLink="/search">Find movie</a></li>
            <li><a routerLink="/error">Another link</a></li>
        </ul>
    </div>

</header>
